@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
        top: -5px;
        left: -1px;
    }
}
@mixin before_line_v {
    &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% + 55px);
        background-color: $text-color;
        z-index: -2;
        top: -55px;
        left: -42px;
    }
}
@mixin before_line_h {
    &:before {
        content: '';
        position: absolute;
        width: 43px;
        height: 1px;
        background-color: $text-color;
        z-index: -3;
        top: 20px;
        left: -42px;
    }   
}