.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #151812;
        &:nth-child(2) {
            width: 36px;
        }
    }
}
.menu {
    position: fixed;
    top: 0;
    // left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 5;
    // visibility: hidden;
    // opacity: 0;
    &__wrapper {
        position: relative;
        width: 345px;
        height: 800px;
        background-color: $main-color;
    }
    &__close {
        position: absolute;
        top: 24px;
        right: 25px;
    }
    &__list {
        position: absolute;
        top: 140px;
        left:75px;
        width: 210px;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // list-style: none;
    }
    &__link {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
    &__social {
        position: absolute;
        width: 90px;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        &:hover {
            svg path {
                fill:red;
            }
        }
    }
}