.portfolio {
    padding-top: 126px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        margin-top: 60px;
    }
    &__item {
        transition: all 0.5s;
        &:hover {
            transform: scale(1.05);
            filter: grayscale(0.5);
        }
        img {
            width: 100%;
        }
        &:nth-child(5) {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &:nth-child(6) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
}