.price {
    margin-top: 126px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}