.resume {
    padding-top: 125px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        justify-content: space-between;
        width: 100%;
        margin-top: 60px;
        padding: 0px 65px 0 65px; 
    }
    &__list {
        padding-left: 20px;
        position: relative;
        @include before_circle;
        &:before {
            top: 8px;
            left: -29px;
            width: 15px;
            height: 15px;
        }
    }
    &__content {
        margin-top: 45px;
        list-style-type: none;
        position: relative;
        @include before_line_v;
    }
    &__item {
        margin-top: 45px;
        position: relative;
        @include before_line_h;
    }
    &__header {
        position: relative;
        padding-left: 55px;
        
    }
    &__img {
        position: absolute;
        @include before_circle;
        &:before {
            top: 2px;
        }
        padding-left: 17px;
        padding-top: 15px;
        left: 0;
    }
    &__text {
        padding-top: 10px;
        line-height: 5px;
    }
    &__long {
        font-size: 12px;
        line-height: 18px;
    }
    &__description {
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
        width: 375px;
    }
}