.resume {
    padding-top: 125px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        justify-content: space-between;
        width: 100%;
        margin-top: 60px;
        padding: 0px 65px 0 65px; 
    }
    &__list {
        display: grid;
        grid-template-rows: repeat();
    }
    &__content {
        display: grid;
        grid-template-rows: repeat(auto, minmax(129px, auto));
        row-gap: 45px;
        margin-top: 45px;
        
    }
    &__header {
        position: relative;
        padding-left: 55px;
    }
    &__img {
        position: absolute;
        @include before_circle;
        &:before {
            top: 2px;
        }
        padding-left: 17px;
        padding-top: 15px;
        left: 0;
    }
    &__item {
        position: relative;
        @include before_line;
        &:before, &:after {
            top: -5px;
            left: -15px;
        }
       
    }










    // &__text {
    //     position: relative;
    //     height: 200px;
    //     @include before_line;
    // }
}