.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: $text-color;
    margin-bottom: 0;
    &_font-size-14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_font-size-16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_font-size-20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_font-size-36 {
        font-size: 36px;
        line-height: 60px;
    }
    &_font-size-48 {
        font-size: 48px;
    }
    &_header {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_subheader {
        text-align: center;
    }
}